TG_BOT_TOKEN=你的机器人Token
MONITORED_ADDRESS=你的收款TRON地址
GROUP_A_ID=-1001234567890
GROUP_B_ID=-5566662984
GROUP_C_ID=-1004418661889
GROUP_A_SENDERS=地址1,地址2
GROUP_B_SENDERS=地址1,地址2
GROUP_C_SENDERS=地址1,地址2
CHECK_INTERVAL=6

# 🌟 新增的 Group D 配置写在最下面
GROUP_D_ID=-5492766113
GROUP_D_SENDERS=地址1,地址2

# 🌟 新增的 Group E 配置
GROUP_E_ID=-5192105090
GROUP_E_SENDERS=地址1,地址2

# 🌟 新增的 Group F 配置
GROUP_F_ID=-5427372210
GROUP_F_SENDERS=地址1,地址2
